<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="veiwpoint" content="width=device-width, intial-scale=1">
  <meta http-equiv="X=UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{url_for('static',filename='css//main.css')}}">
  <!--i need top use the one before for web uploading to heroku-->
  <!--<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">-->
  <!-- if i wanted to add javascript i would use the line below -->
  <!-- i would need to make sure that i made the folder and file first -->
  <!--  <link rel="stylesheet" href="{{url_for('static',filename='javascript/main.js')}}"> -->
  {% block head %}{% endblock %}

</head>

<body>
 {% block body %}{% endblock %}

</html
